.wrapper {
    position: relative;
    max-width: 1300px;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-family: arial, sans-serif;
    color: #a33104;
    padding-left: 1em;
}

.firstPic img {background-size: contain; 
    max-width: 1250px;
    max-height: 1000px;
    position: center;
}

.firstText {position: absolute;
    color: #832900;
    top: 25%;
    left: 7%;
    width: 15em;
    font-family: arial, sans-serif;
    font-size: 3em;
}

nav { 
    display: block; 
    font-family: arial, sans-serif; 
    font-size: 2em;}

ul {
    list-style: none;
    width: none;
} 

li { 
    text-decoration: none;
    display: inline-block;
    color: white;
    box-sizing: border-box; width: 5em;
}
li :hover {color: #46342d;}

a {text-decoration: none; 
   color: #a33104;
}
a :visited {color: #a33104;}

div {display: inline-block;}

body {
    font-family: arial, sans-serif;
    color: #a33104;
    padding-top: 2em;
    padding-left: 5em;
    position: relative;
}

.box1{
    box-sizing: border-box;
    border: 0.125em solid #46342d;
    border-radius: 1.65em;
    width: 40rem;
    padding: 2rem;
    height: 40em;
    margin: 3em;
    padding-left: 3em;
    display: inline-block;
}
.box1 p {
    font-style: arial, sans-serif;
    font-size: 1rem;
}
h2{
    font-style: arial, sans-serif;
}

/*.box2{
    box-sizing: border-box;
    border: 0.125em solid #B0AEAE;
    border-radius: 1.65em;
    width: 15.62em;
    height: 40em;
    padding: 2em;
    display: inline-block;
}*/

/*.box3{
    box-sizing: border-box;
    border: 0.125em solid #B0AEAE;
    border-radius: 1.65em;
    width: 15.62em;
    height: 40em; 
    padding: 2em;
    display: inline-block;
}*/

.pics {
    display: block;
    position: relative;
    padding-left: 5em;
    padding-top: 2em;
}

.img img{
    border: 0.125em solid #B0AEAE;
    border-radius: 1.65em;
    width: 280px;
    height: 280px;
    margin:30px;
    display: inline-block;
}

footer {
    font-family: arial, sans-serif; 
    display: block;
    position: relative;
    color: #a33104;
    padding-top: 2rem;
}

